* {
    margin: 0;
    padding: 0;
    font-family: '隶书';
}
body {
    background-color: #EEEEEE;
}
a {
    text-decoration: none;
    color: #CCC;
}
.left, .center {
    position: absolute;
}

.left {
    height: 100%;
    width: 200px;
    left: 0;
    background-color: #191818;
    color: #CCC;
    font-weight: bold;
    font-family: '隶书';
}
.left h1 {
    height: 150px;
    line-height: 150px;
    text-align: center;
}
.left p {
    margin-top: 20px;
    margin-left: 30px;
}
.classify {
   height: 400px;
   overflow: auto;
}
.addbutton {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 2em;
    text-align: center;
    margin: 50px 20px 0 20px;
}
.center {
    height: 100%;
    width: 410px;
    left: 210px;
    background-color: #FFF;
}
.ctitle {
    height: 150px;
    width: 95%;
    margin: 0 auto;
}
.ctitle h1 {
    float: left;
    margin-top: 57px;
}
.ctitle a {
    float: right;
    height: 38px;
    width: 140px;
    margin-top: 57px;
    line-height: 38px;
    text-align: center;
    color: white;
    background-color: #DA3610;
    border-radius: 5px;
}
.ctextlist {
    overflow: auto;
}
.ctextlist p {
    height: 120px;
    width: 95%;
    margin: 0 auto 10px;
    overflow: auto;
    background-color: #EEEEEE;
}
.right {
    height: 100%;
    margin-left: 630px;
    background-color: #FFF;
}
.rtitle {
    height: 150px;
    line-height: 150px;
    color: white;
    font-size: 2em;
    text-align: center;
}
.rtitle h1 span {
    display: inline-block;
    width: 400px;
    height: 100px;
    overflow: hidden;
}
.rtitle h1 a{
    font-size: 0.5em;
    margin-left: 50px;
}
.icon:hover {
    color: #FFF;
}
.color {
    background-color: #DA3610;
}
.rtext {
    width: 100%;
    background-color: #FFF;
}
.rtitle input {
   /* display: none;*/
    outline: none;
    height: 60px;
    width: 500px;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #CCC;
}
.rtitle a {
    margin-left: 30px;
    color: rgba(218, 54, 16, 0.7);
}
.rtitle a:hover {
    color: rgba(218, 54, 16, 1);
}
.textarea {
    display: block;
    width: 95%;
    margin: 0 auto;
    outline: none;
    border: none;
    resize: none;
    font-size: 20px;
}
.addnote {
    position: absolute;
    display: none;
    left: 425px;
    top: 200px;
    height: 250px;
    width: 400px;
    box-shadow: 2px 2px 4px #3C3C3C;
    background-color: #FCFCFC;
    text-align: center;
    border-radius: 2px;
}
.addnote h2 {
    margin-top: 50px;
}
.addnote input {
    margin-top: 20px;
    height: 30px;
}
.addnote a {
    display: inline-block;
    margin: 30px 12px 0;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    border: none;
    background-color: #DA3610;
    line-height: 30px;
    color: #FFF;
}


/* use in js*/

.none {
    display: none;
}
.block {
    display: block;
}